<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--这个输出控制台的配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%p] %c (%F:%L) - %m%n" />
        </Console>
        <!-- 这个就是自定义的Appender -->
        <RabbitMQ name="RabbitMQ">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%p] %c (%F:%L) - %m" />
        </RabbitMQ>
    </Appenders>
    <Loggers>
        <logger name="com.cfw.movies" level="debug" />
        <logger name="org.apache.http" level="info" />
        <logger name="org.apache.commons" level="info" />
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RabbitMQ" />
        </Root>
    </Loggers>
</Configuration>