<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfw.movies.home.mapper.RecommendsMapper">
	
	<!-- 2016.05.29 11:27 -->
	<insert id="insertOne" parameterType="Recommends">
		INSERT INTO
			recommends(
				uid,mid,pref
			)
		VALUES(
			#{uid},#{mid},#{pref}
		)
	</insert>
	
	<!-- 2015.05.31 19:03 -->
	<select id="selectRecommendedMoviesCount" parameterType="Users" resultType="Integer">
		SELECT 
			count(id)
		FROM
			recommends
		WHERE
			uid = #{id}
	</select>
	
</mapper>